@import url(./__content/page__content.css);

.page {
  max-width: 1280px;
  background-color: black;
  color: white;
  margin: auto;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

  display: flex;
  justify-content: center;
  align-items: center;
}