.photo-popup__close-button {
  width: 40px;
  height: 40px;

  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
  background-size: cover;

  border: none;

  position: absolute;
  top: -35px;
  right: -34px;
}