.profile__av-info-edit-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "avatar info button"
  "avatar info ."
  ;
}