.popup__close-button {
  margin: 0;
  padding: 0;
  width: 47px;
  height: 47px;
  background-color: transparent;
  border: none;
  outline: none;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -203px;
  margin-left: 203px;

  cursor: pointer;
}